html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url('fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    gap: 50px;
}

.login-box {
    width: 300px;
    padding: 40px;
    background: rgba(0, 0, 0, 0.7); /* Más oscuro para mejor contraste con el fondo */
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    color: white;
    text-align: center;
}

.login-box h2 {
    margin-bottom: 30px;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f68e44;
    font-size: 12px;
}

.submit-button {
    display: inline-block;
    padding: 10px 20px;
    color: #b79726;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #b79726;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.submit-button:hover {
    background: #f49803;
    color: #fff;
    box-shadow: 0 0 5px #f4c803, 0 0 25px #bd9d0b, 0 0 50px #f4e403, 0 0 100px #d5cf1e;
}

.message {
    color: #f68e44;
    font-size: 14px;
    margin-top: 10px;
}
