/* Estilos para la barra de navegación */
.navbar {
    overflow: hidden; 
    position: fixed;
}
/* Estilos para los enlaces de la barra de navegación */
.navbar a {
    float: left;
    display: block;
    color: #f0ecec; /* Color de texto de los enlaces */
    background-color: rgba(51, 1, 1, 0.39); /* Color de fondo de la barra de navegación */
    text-align: center;
    padding: 20px 20px; /* Espaciado alrededor del texto en los enlaces */
    text-decoration: none; /* Quitar subrayado de los enlaces */
}

/* Cambiar el color de fondo de los enlaces al pasar el mouse por encima */
.navbar a:hover {
    background-color: hwb(310 10% 13%); /* Color de fondo al pasar el mouse por encima */
    color: rgb(233, 219, 219); /* Cambia el color del texto al pasar el mouse por encima */
}
/* Estilos para el cuerpo de la página */
body {
  font-family: 'Comic Sans MS', cursive, sans-serif;
  background-image: url('fondo.jpg'); 
  background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
  background-position: center; /* Centra la imagen en el fondo */
  margin: 3;
  padding: 3;
  color: white; /* Color de texto predeterminado */
}

/* Estilos para el encabezado */
header {
  background-color: rgba(107, 52, 107, 0.667); /* Color de fondo del encabezado */
  color: white; /* Color del texto del encabezado */
  padding: 20px;
  text-align: center;
}

/* Estilos para los contenedores de contenido */
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente negro para contraste */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  color: white; /* Color de texto para el contenido */
}

/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: white; /* Fondo blanco para la tabla */
  color: black; /* Color de texto negro para la tabla */
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: rgb(47, 18, 233);
  color: white;
}
